<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZw3BuBWhjevXpgg0Bg5aUu8_jPymoRAo</string>
	<key>GCM_SENDER_ID</key>
	<string>618098659319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.HunaInvest</string>
	<key>PROJECT_ID</key>
	<string>hunainvest-5a38a</string>
	<key>STORAGE_BUCKET</key>
	<string>hunainvest-5a38a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618098659319:ios:41d91fdb22a93f583228f2</string>
</dict>
</plist>